.socials {
  position: relative;
  top: -6%;
  left: -58%;
  display:flex;
  gap: 7px;
}

#credits {
  background-color: rgba(255, 255, 255, 0.258);
  width: 210%;
  height: 75%;
  margin-left: -60%;
  margin-top: 4%;
  box-shadow: 0 0 7px #000000;
}
