.main-content{
    display: flex;
    flex-direction: row;
    margin-top: 2%; 
    padding: 30px;
    border-radius: 5px;
    width: 77vw;
    height: 66vh;
    margin-right: auto;
    transition: all 600ms ease;
    background-color: rgb(46, 47, 47);
    box-shadow: 0 0 4px #121212;
}

.main-content.blue{
    background-color: #1c74f0bb;
}

.main-content.purple {
    background-color: #7d3cffb0;
}

.banner-container {
    margin-top: 0.5%;
    position: relative; /* parent of banners */
    width: 170%;
    height: 75%; 
}

.banner {
    position: absolute; /* stack banners on top of each other */
    left: 0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 5px #121212;
    opacity: 0;
    transform: translate(0, 0);
    display: flex;
    height: 66vh;
    transition: all 600ms ease;
}

.banner.active {
    opacity: 1;
    z-index: 10; /* make sure active banner is on top */
     box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3),
        0 0 10px 4px rgba(0, 0, 0, 0.2),
        0 0 15px 6px rgba(0, 0, 0, 0.1);
}

.banner.hidden {
    opacity: 0.4;
    transform: translate(2% , -3%); /* move banner off-screen */
    z-index: 1;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.game-title{
    font-family: rogfontfull;
    padding-left: 5px;
    margin-top: -1%;
}

.home-text {
    margin-left: 1%;
    width: 140%;
}

.text-game {
    padding-left: 5%;
    line-height: 160%;
    text-align:left;
}

#launch {
  font-family: rogfontfull;
  background-color:rgb(19, 185, 125);
  margin:auto;
  margin-top: 6%;
  margin-bottom: -20%;
  z-index: 0;
  transition: all 300ms ease;
}

#launch:hover {
  background-color:rgb(39, 224, 156);
}
